.carousel-image{
    position: relative;
    .alice-carousel{
        .alice-carousel__wrapper{
            .alice-carousel__stage{
                .alice-carousel__stage-item{
                    width: 100% !important;
                }
            }
        }
        .alice-carousel__dots{
            display: none;
            margin: 0px 0px;
            .alice-carousel__dots-item{
                width: 70px;
                height: 70px;
            }
        }
        .alice-carousel__prev-btn{
            display: inline-block;
            box-sizing: border-box;
            padding: 10px 5px;
            position: absolute;
            top: 45%;
            left: 0%;
            width: fit-content;
            width: 50px;
            height: 50px;
            background-color: red;
            padding: 0;
            .alice-carousel__prev-btn-wrapper{
                width: 50px;
                height: 50px;
                position: absolute;
                top: 0;
                left: 0;
                .alice-carousel__prev-btn-item{
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    top: 0px;
                    left: 0px;
                    span{
                        display: none;
                    }
                }
                .__inactive{
                    background-color: black;
                    opacity: 1;
                }
            }
        }
        .alice-carousel__next-btn{
            display: inline-block;
            box-sizing: border-box;
            padding: 10px 5px;
            position: absolute;
            top: 45%;
            right: 0%;
            width: fit-content;
            width: 50px;
            height: 50px;
            padding: 0;
            background-color: red;
            .alice-carousel__next-btn-wrapper{
                width: 50px;
                height: 50px;
                position: absolute;
                top: 0;
                left: 0;
                .alice-carousel__next-btn-item{
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    top: 0px;
                    left: 0px;
                    span{
                        color: whitesmoke;
                        display: none;
                    }
                }
                .__inactive{
                    background-color: black;
                    opacity: 1;
                }
            }
        }
    }
}