.head-container{
    position: relative;
    background-color: rgb(1, 127, 255);
    z-index: 999;
    display: block;
    .head-row{
        color: white;
        line-height: 40px;
        display: block;
        padding: 15px;
        .left-header{
            display: inline-flex;
            .logo{
                display: block;
                float: left;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
            .search{
                float: left;
                box-shadow:  rgba(98, 98, 98, 0.5) 0px 1px 2px 0px;
                .row{
                    .txt-search{
                        height: 40px;
                        flex: 1 1 0%;
                        padding: 0px 12px;
                        border-radius: 2px 0px 0px 2px;
                        border: 0px;
                    }
                    .btn-search{
                        color: white;
                        height: 40px;
                        background-color: rgb(13, 92, 182);
                        cursor: pointer;
                        border: 0px;
                        width: 120px;
                        font-size: 13px;
                        outline: none;
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        border-radius: 0px 2px 0px 2px;
                        .icon-search{
                            width: 20px;
                            height: 20px;
                            margin: 0px 8px 0px 0px;
                        }
                    }
                }
            }
        }
        .right{
            display: inline-flex;
            .user{
                line-height: 40px;
                position: relative;
                font-size: 11px;
                color: white;
                display: block;
                float: left;
                cursor: pointer;
                text-align: center;
                padding-left: 15px;
                padding-right: 15px;
                .user-togle{
                    position: relative;
                    display: none;
                    border: 1px solid rgb(239, 239, 239);
                    background-color: rgb(255, 255, 255);
                    width: auto;
                    margin: 0px;
                    padding: 10px 0px;
                    border-radius: 0px 0px 3px 3px;
                    box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 12px 0px;
                    top: 45px;
                    transform: translateX(-50%);
                    left: calc(50% + 10px);
                    list-style: none;
                    .btn-user-login,.btn-user-register{
                        color: rgb(119, 38, 38);
                        background-color: rgb(253, 216, 53);
                        display: inline-block;
                        font-weight: 400;
                        text-align: center;
                        vertical-align: middle;
                        cursor: pointer;
                        border: 0px;
                        padding: 0px;
                        font-size: 14px;
                        border-radius: 4px;
                        margin: 5px 12px;
                        width: 236px;
                        height: 40px;
                        line-height: 40px;
                        outline: none;
                        text-shadow: rgb(171, 171, 171) 0px 0px 1px;
                        a{
                            &:hover{
                                color: rgb(74, 74, 74);
                                text-decoration: none;
                            }
                        }
                    }
                }
                &:hover {
                    .user-togle{
                        display: block;
                        transition: all 0.5s;
                        position: absolute;
                        top: 40px;
                        left: 60px;
                      }
                }
            }
        }
    }
}